layout {
    always-center-single-column
}

// window-rule {
//     match title="TheMatchingTitle"
//     open-floating true
//     default-column-width { fixed 1280; }
//     default-window-height { fixed 720; }
// }
